@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --menu-dark-color: #eee;
    --menu-dark-bg-color: #1b1a1a;
    --menu-dark-bg-hover-color: #343434;
    --menu-light-color: #1b1a1a;
    --menu-light-bg-color: #eee;
    --menu-light-bg-hover-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: var(--menu-dark-bg-color, #1b1a1a);
    border: 1px solid var(--menu-dark-color, #eee);
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: var(--menu-dark-color);
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: var(--menu-dark-bg-hover-color, #343434);
}

/* light menu theme styles */
.menu_light {
    background: var(--menu-light-bg-color, #eee);
    border: 1px solid var(--menu-light-color, #1b1a1a);
}

.menu_light .menu-item {
    color: var(--menu-light-color);
}

.menu_light .menu-item:hover {
    background: var(--menu-light-bg-hover-color, #ccc);
}